## Observations and Insights

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Check top of mouse data
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [3]:
# Check start of study results
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
# Combine the data into a single dataset, join on Mouse ID
combined_data = pd.merge(mouse_metadata, study_results,
                                 how='outer', on='Mouse ID')

# Display the data table for preview
combined_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [25]:
# Checking the number of mice.
print("Total mice: " + str(combined_data["Mouse ID"].nunique()))

Total mice: 249

In [32]:
# Find any mouse ID that has duplicate data for Timepoint
duplicate_mice = combined_data.loc[combined_data.duplicated(subset=['Mouse ID','Timepoint']),'Mouse ID'].unique()
print(duplicate_mice)

['g989']

In [35]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_mouse_data = combined_data.loc[combined_data["Mouse ID"]==duplicate_mice[0],:]
duplicate_mouse_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [37]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
mouse_analysis_data = combined_data.loc[combined_data["Mouse ID"]!=duplicate_mice[0],:]
mouse_analysis_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [40]:
# Checking the number of mice in the clean DataFrame.
print("Total mice after removal of duplicate data: " + str(mouse_analysis_data["Mouse ID"].nunique()))

Total mice after removal of duplicate data: 248

## Summary Statistics

In [46]:
# List the different treatments
treatment = mouse_analysis_data["Drug Regimen"].unique()
treatment

array(['Ramicane', 'Capomulin', 'Infubinol', 'Placebo', 'Ceftamin',
       'Stelasyn', 'Zoniferol', 'Ketapril', 'Propriva', 'Naftisol'],
      dtype=object)

In [48]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
for drug in treatment:
    drug_data = mouse_analysis_data.loc[mouse_analysis_data["Drug Regimen"]==drug,:]
    mean_info = drug_data["Tumor Volume (mm3)"].mean()
    print(f"Mean for {drug} is {mean_info}")
# This method is the most straighforward, creating multiple series and putting them all together at the end.

Mean for Ramicane is 40.2167450667105
Mean for Capomulin is 40.67574114100001
Mean for Infubinol is 52.88479510859551
Mean for Placebo is 54.03358078635358
Mean for Ceftamin is 52.59117180960677
Mean for Stelasyn is 54.23314911988949
Mean for Zoniferol is 53.236506551593415
Mean for Ketapril is 55.23563764047869
Mean for Propriva is 52.32092986
Mean for Naftisol is 54.331564658333306

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [44]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas. 
mouse_treatment_data = mouse_analysis_data["Mouse ID"].unique()
mouse_treatment_data

#pd_mouse_treatment = mouse_analysis_data["Mouse ID","Drug Regimen"].plot(kind="bar", title="Number of Mice on Treatment")
#pd.mouse_treatment.set_xlabel("Treatment")
#pd.mouse_treatment.set_ylabel("Number of Mice")

#plt.tight_layout()

array(['k403', 's185', 'x401', 'm601', 'g791', 's508', 'f966', 'm546',
       'z578', 'j913', 'u364', 'n364', 'y793', 'r554', 'm957', 'c758',
       't565', 'a644', 'i177', 'j989', 'i738', 'a520', 'w914', 'r811',
       'g288', 'i334', 'q610', 'd251', 'l897', 'c458', 'b742', 'b128',
       'j246', 'a411', 'j119', 'w150', 'v923', 'g316', 's710', 'l509',
       'r944', 'e662', 'u196', 'q597', 'a444', 'i557', 'r921', 'w678',
       'y449', 'a203', 'a251', 'a262', 'a275', 'a366', 'a401', 'a457',
       'a492', 'a577', 'a685', 'a699', 'a788', 'a818', 'a897', 'a963',
       'b313', 'b447', 'b487', 'b559', 'b759', 'b879', 'c139', 'c264',
       'c282', 'c302', 'c326', 'c402', 'c559', 'c580', 'c757', 'c766',
       'c819', 'c832', 'c895', 'c927', 'd133', 'd164', 'd474', 'e213',
       'e227', 'e291', 'e476', 'e584', 'f129', 'f234', 'f278', 'f345',
       'f394', 'f436', 'f545', 'f932', 'f993', 'g107', 'g296', 'g497',
       'g558', 'g570', 'g867', 'h246', 'h333', 'h428', 'h531', 'i386',
       'i477', 'i635', 'i669', 'i901', 'j235', 'j296', 'j365', 'j755',
       'j984', 'k210', 'k382', 'k483', 'k510', 'k603', 'k754', 'k804',
       'k862', 'k894', 'l215', 'l264', 'l471', 'l490', 'l558', 'l661',
       'l700', 'l725', 'l733', 'l872', 'm133', 'm269', 'm331', 'm550',
       'm650', 'm756', 'n304', 'n482', 'n630', 'n671', 'n678', 'n763',
       'n923', 'n967', 'o287', 'o302', 'o331', 'o523', 'o562', 'o725',
       'o795', 'o809', 'o813', 'o848', 'o926', 'o973', 'p136', 'p189',
       'p310', 'p387', 'p438', 'p981', 'q119', 'q132', 'q483', 'q511',
       'q582', 'q633', 'q787', 'r107', 'r157', 'r604', 'r701', 'r850',
       's121', 's141', 's152', 's166', 's187', 's337', 's565', 's619',
       't198', 't451', 't573', 't718', 't724', 't994', 'u149', 'u153',
       'u327', 'u946', 'v199', 'v289', 'v295', 'v339', 'v409', 'v603',
       'v719', 'v764', 'v766', 'v835', 'v989', 'v991', 'w140', 'w151',
       'w167', 'w193', 'w350', 'w422', 'w540', 'w575', 'w584', 'w697',
       'w746', 'x111', 'x209', 'x226', 'x264', 'x336', 'x402', 'x581',
       'x613', 'x773', 'x822', 'x930', 'y163', 'y260', 'y478', 'y601',
       'y769', 'y865', 'z234', 'z314', 'z435', 'z581', 'z795', 'z969'],
      dtype=object)

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.
plt.bar()

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen